/*tablilla rol ava*/
.avatabrl {width: 400px; padding: 50px; margin: auto; background: #111111;} 
.avatabrl .avatit {font-family: 'Hello Honey'; font-size: 50px; text-transform: lowercase; line-height: 50px; text-align: center;} 
.avatabrl .avadt {font-family: 'Source Code Pro'; font-size: 10px; text-transform: uppercase; line-height: 10px; text-align: center; margin: -10px 0px 30px;} 
.avatabrl .avarl {font-size: 12px; line-height: 15px; text-align: justify; margin: 0px 5px;} 
.avatabrl .avadt .th {color: #709476; margin-right: -2px; margin-left: 5px;} 
.avatabrl .avarl u {color: #709476; text-decoration: none; font-weight: 600;}
