/*tablilla rol ava*/
.avatabrl {width: 400px; padding: 50px; margin: auto; background: #111111;} 
.avatabrl .avatit {font-family: 'Hello Honey'; font-size: 50px; text-transform: lowercase; line-height: 50px; text-align: center; font-style: italic;} 
.avatabrl .avadt {font-family: 'Source Code Pro'; font-size: 10px; text-transform: uppercase; line-height: 10px; text-align: center; margin: -10px 0px 15px;} 
.avatabrl .avarl {font-size: 11px; line-height: 14px; text-align: justify; padding: 15px;} 
.avatabrl .avadt .th {color: #709476; margin-right: -2px; margin-left: 5px; font-size: 8px;} 
.avatabrl .avarl u {color: #709476; text-decoration: none; font-weight: 600;}

/*índice baúl*/
:root {
  --accent-ava: #709476;
}

.baulava {
  width: 855px;
  height: 600px;
  background: url(https://i.imgur.com/vuB4shC.png);
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  line-height: 0px;
  margin: 20px auto;
}

.baulava .nombreava {
  font-size: 150px;
  line-height: 150px;
  color: #000;
  font-family: 'Hello Honey';
  font-style: italic;
  text-align: center;
  margin-left: -140px;
  background: linear-gradient(05deg,rgb(112, 148, 118) 20%, rgba(243, 243, 243)90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 250px;
  position: absolute;
  width: 855px;
}

.baulava .nombreava sg {
  display: block;
  text-transform: uppercase;
  font-family: 'Source Code Pro';
  font-size: 12px;
  letter-spacing: 7px;
  font-style: normal;
  line-height: 15px;
  margin: -25px 0px 0px 115px;
  -webkit-text-fill-color: #f3f3f3;
}

.baulava .nombreava ap {
  display: block;
  margin: -100px 0px 0px 480px;
}

.baulava .indiceava {
  padding: 20px 30px;
  width: 795px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  background: #161616;
  position: absolute;
  margin-top: 475px;
  color: #f3f3f3;
}

.indiceava a {
  color: var(--accent-ava);
  text-decoration: none;
  margin: 0px 10px;
  } 

.indiceava .sf {
  vertical-align: -2px;
}

/*Alfred*/
.alfredcaja {
  width: 500px;
  border: 1px solid #000;
  margin: auto;
  overflow: hidden;
}

.alfredcaja .foto {
  width: 500px;
  height: 250px;
  background: url(https://i.imgur.com/re9wXdB.png);
  border-bottom: 1px solid #000;
}

.alfredcaja .nombre {
  font-family: 'Raleway'; 
  font-size: 22px; 
  line-height: 22px; 
  height: 22px;
  padding: 114px 0px 114px 0px; 
  text-align: center; 
  letter-spacing: 1px;
  color: #f3f3f3; 
  text-transform: uppercase; 
  font-weight: 900; 
  text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}

.alfredcaja .demas {
  background: #131313;
  width: 460px;
  padding: 20px;
}

.alfredcaja .presentacion {
  border: 1px solid #000;
  padding: 20px;
  background: #111111;
  font-family: 'Calibri';
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  color: #f3f3f3;
}

.alfredcaja .presentacion span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  border-bottom: 1px solid var(--acento-3);
  color: var(--acento-3);
}

.alfredcaja .usuarios {
  margin: 20px 20px 0px;
}

.alfredcaja .usuarios .chpj {
  width: 210px;
  display: inline-block;
}

.alfredcaja .usuarios img {
  border-radius: 50%;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.alfredcaja .usuarios .chpj div {
  text-align: center;
  color: #f3f3f3;
  font-family: 'Source Code Pro';
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  margin-top: 5px;
}

.alfredcaja .usuarios .chpj span {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: 900;
  display: block;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}

/*búsqueda*/
.busava {
  background: #131313;
  width: 450px;
  padding: 50px;
  margin: auto;
  border: 1px solid #000;
}

.busava .bustit {
  color: #f3f3f3;
  font-family: 'Hello Honey';
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  font-style: italic;
  text-transform: none;
}

.busava .bustit:before, .busava .bustit:after {
  content: "";
  width: 75px;
  height: 1px;
  background: var(--acento-3);
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px;
}

.busava .nombus {
  padding: 2px 10px;
  font-family: 'Source Code Pro';
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  color: #f3f3f3;
  text-align: center;
  margin-top: 40px;
}

.busava .nombus span {
  color: #f3f3f3;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Hello Honey';
  font-style: italic;
  text-transform: none;
  display: block;
}

.busava .nombus:after {
  color: var(--acento-3);
  content: "\e08d";
  font-family: 'saturnicons';
  font-size: 11px;
  vertical-align: 1px;
  margin: 10px 0px;
  display: block;
}

.busava .nombus i {
  font-size: 7px;
  color: var(--acento-3);
}

.busava .desbus {
  border: 1px solid #000;
  background: #161616;
  padding: 20px;
  font-family: 'Calibri';
  color: #d3d3d3;
  text-align: justify;
  font-size: 12px;
  line-height: 14px;
}

.busava .desbus i {
  font-size: 8px;
  color: var(--acento-3);
}

.busava .desbus strong {
  color: var(--acento-3);
  font-style: italic;
}
